asgiref==3.8.1
Django==4.2.16
et_xmlfile==1.1.0
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.3
psycopg2-binary==2.9.9
python-calamine==0.2.3
python-dateutil==2.9.0
six==1.16.0
sqlparse==0.4.4
tzdata==2024.1
xlrd==2.0.1
xlsxwriter==3.1.9
python-dotenv==1.0.1
djangorestframework==3.16.1
pytz==2026.1.post1
typing_extensions==4.15.0